<!-- 
    ESTA ES LA PAGINA QUE ALBERGARÁ LAS GRÁFICAS (REPORTING)
 -->
 <p-toast position="bottom-center" (onClose)="customMessageService.clearToastMessage()"></p-toast>
<ng-container>
    <div class="p-d-flex global-cards">
        <div class="item-card-3">
            <p-card header="title" header="title">
                Content
            </p-card>
        </div>
        <div class="item-card-3">
            <p-card header="title">
                Content
            </p-card>
        </div>
        <div class="item-card-3">
            <p-card header="title">
                Content
            </p-card>
        </div>
    </div>
    
    <div class="p-d-flex global-cards">
        <div class="item-card-2">
            <p-card header="title">
                Content
            </p-card>
        </div>
        <div class="item-card-2">
            <p-card header="title">
                Content
            </p-card>
        </div>
        
    </div>
</ng-container> 


