.slider-span-container {
    margin-top: 20px;
    margin-bottom: 44px;
    display: block;
    text-align: left;
    label {
        display: block;
        margin-bottom: 10px;
    }
}

.slider-label {
    margin-left: 7px;
}