.table-main {
  width: 100%;
}

.table-search-card{
  margin: 5px ;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 0%), 0 1px 1px 0 rgb(0 0 0 / 3%), 0 1px 3px 0 rgb(0 0 0 / 10%);

}


.p-field-search-table-first{
  margin: 10px;
}
.p-field-search-table-others{
  margin: 10px;
}

.sicaSearch-title {
  margin: 0 10px;
  padding-top: 5px;
}

