:host{
    right: 20px;
}
// .multiselect-table-column-config {
//     background-color: red;
//         .p-multiselect-panel {
//             left: 0 !important;
//             right: -11px I !important;
//         }
//     }

    .input-span-container {
        margin-top: 20px;
    }
    .error-alert {
        color: red;
        margin: 4px 0;
        display: block;
    }
