
#second-container {
    height: 300px;
}

.global-cards {
    width: 100%;
    .item-card-3 {
        width: 40%;
        margin: 5px;
        ::ng-deep p-card {
            .p-card {
                height: 400px;
            }
        }

    }
    .item-card-2 {
        margin: 5px;
        width: 50%;
        ::ng-deep p-card {
            .p-card {
                height: 400px;
            }
        }

    }
}
